html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;

  // background: url("./wallpaper.jpg");
  // background-size: cover;
  nav {
    background: rgb(49, 49, 49);
    height: 80px;
    text-align: right;
    margin-bottom: 40px;

    div {
      padding-top: 25px;
      padding-right: 40px;

      a {
        color: white;
        padding: 20px;
        text-decoration: none;
      }
    }
  }

  .container {
    text-align: center;

    .chat {
      .space {
        margin: 90px;
      }

      .nameForm {
        margin-left: 35px;

        input {
          box-shadow: 0 0 10px 0.5px rgb(202, 201, 201);
        }
      }

      .textArea {
        background: white;
        border-radius: 4%;
        margin: 0 30% 0 30%;
        box-shadow: 0 0 10px 0.5px rgb(202, 201, 201);
        height: 380px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: none;

        ul {
          list-style: none;

          li {
            box-shadow: 0 0 5px 0.3px rgb(202, 201, 201);
          }
        }
      }

      .textArea::-webkit-scrollbar {
        width: 0;
      }

      input {
        margin: 4px;
      }

      .inputForm {
        padding: 5px;
        margin: 15px 30% 0 30%;
        border-radius: 5%;
        box-shadow: 0 0 10px 0.5px rgb(202, 201, 201);
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 95%;

    p {
      margin: 20px;
    }
  }
}
